* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #223344;
    background-color: #f3f4f6;
    line-height: 1.6;
}

body {
    display: flex;
    height: 100vh;
}

#editor {
    flex: 1;
    resize: none;
}

#preview {
    flex: 1;
    overflow: hidden;
}