* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #223344;
    background-color: #f3f4f6;
    line-height: 1.6;
}

body {
    display: flex;
    height: 100vh;

    .left {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
}

h1 {
    margin: .3em 0 .2em 0;
    font-size: 1.2em;
}

h2 {
    margin: .2em 0 .1em 0;
    font-size: 1em;
}

#editor {
    flex: auto;
    resize: none;
    white-space: nowrap;
}

#preview {
    flex: 1;
    overflow: hidden;
}

.vertices {

    input {
        width: 100px;
    }

}

.face {

    input {
        width: 50px;
    }

}
