* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #223344;
    background-color: #f3f4f6;
    line-height: 1.6;
}

body {
    display: flex;
    height: 100vh;

    .left {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
}

#editor {
    flex: auto;
    resize: none;
    white-space: nowrap;
}

#preview {
    flex: 1;
    overflow: hidden;
}