* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template: min-content min-content / min-content auto;
    grid-template-areas: 'toolbar toolbar' 'path path' 'list preview';
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#list {
    grid-area: list;
}

#list div {
    display: flex;
    padding: 4px;
}

#list div:hover {
    background-color: #f8f8f8;
}

#list div label {
    color: #0000ff;
    cursor: pointer;
    flex: auto;
    margin-right: 4px;
    text-decoration: underline;
    white-space: nowrap;
}

#path {
    grid-area: path;
}

#preview {
    grid-area: preview;
    height: 100%;
    width: 100%;
}

#toolbar {
    display: flex;
    grid-area: toolbar;
}

#toolbar button {
    margin: 4px;
    padding: 2px 8px;
    position: relative;
}

#toolbar input {
    display: none;
}

#toolbar button progress {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
