<!DOCTYPE html>
<html>

    <head>
        <script src="js/vue@3.2.26.global.prod.js"></script>
        <link rel="stylesheet" href="styles/3dp_editor.css">
        <script type="importmap">
            {
                "imports": {
                    "three": "./js/threejs/build/three.module.min.js",
                    "three/addons/": "./js/threejs/examples/jsm/"
                }
            }
        </script>
        <script type="module" src="js/3dp_editor.js"></script>
    </head>

    <body>

        <div class="left">
            <button id="savebutton" @click="save">Speichern</button>
            <textarea id="editor" v-model="fileContent" @input="handleEditorInput" @keydown.ctrl.s.prevent.stop="save"></textarea>

            <h1>Vertices</h1>

            <div v-for="(vertex, index) in vertices" class="vertices">
                <label>{{index}}</label>
                <input type="number" v-model="vertex.x" @change="updatePreview" />
                <input type="number" v-model="vertex.y" @change="updatePreview" />
                <input type="number" v-model="vertex.z" @change="updatePreview" />
            </div>

            <h1>Faces</h1>

            <template v-for="(face, faceIndex) in faces">

                <h2>Face {{faceIndex}}</h2>

                <div v-for="(vertex, vertexIndex) in face" class="face">

                    <input type="number" v-model="vertex.index" @change="updatePreview" />

                    <label>N</label>
                    <input type="number" v-model="vertex.normal.x" @change="updatePreview" />
                    <input type="number" v-model="vertex.normal.y" @change="updatePreview" />
                    <input type="number" v-model="vertex.normal.z" @change="updatePreview" />

                    <label>UV</label>
                    <input type="number" v-model="vertex.uv.x" @change="updatePreview" />
                    <input type="number" v-model="vertex.uv.y" @change="updatePreview" />

                </div>

            </template>

            <h1>Color</h1>

            <input type="color" v-model="color" />
            
            <h1>Texture</h1>

        </div>

        <div id="preview" ref="threeJsContainer"></div>

    </body>

</html>